html,
body {
  font-family: 'Heebo', sans-serif;
  letter-spacing: .5px !important; }

@media (max-width: 425px) {
  * {
    text-align: center !important; } }

header .first-part {
  background-color: #00a3c8; }

header .second-part {
  background-color: white;
  font-size: 1.1rem; }

.main-info {
  background: url("../images/main-info-bg.png") no-repeat center center;
  background-size: cover;
  height: 739px;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 200px 0px 240px 0px; }
  .main-info .welcome-text h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.2em; }
    @media (max-width: 375px) {
      .main-info .welcome-text h1 {
        font-size: 2rem; } }
  .main-info .welcome-text p {
    color: #696e7b;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.6em; }
    @media (max-width: 991px) {
      .main-info .welcome-text p {
        color: black;
        font-weight: 500; } }
  .main-info .information-squares {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -300px; }
    @media (max-width: 991px) {
      .main-info .information-squares {
        bottom: -700px; } }
    @media (max-width: 767px) {
      .main-info .information-squares {
        bottom: -900px; } }
    .main-info .information-squares .first,
    .main-info .information-squares .second,
    .main-info .information-squares .third {
      box-shadow: 0px 0px 30px 0px rgba(73, 107, 242, 0.1);
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      padding: 57px 60px 60px 60px; }
      .main-info .information-squares .first .header,
      .main-info .information-squares .second .header,
      .main-info .information-squares .third .header {
        font-size: 1.8rem;
        color: white;
        font-weight: 400; }
      .main-info .information-squares .first .btn,
      .main-info .information-squares .second .btn,
      .main-info .information-squares .third .btn {
        font-size: 1.2rem; }
      .main-info .information-squares .first .contact,
      .main-info .information-squares .second .contact,
      .main-info .information-squares .third .contact {
        font-size: 1.6rem; }
        @media (max-width: 375px) {
          .main-info .information-squares .first .contact,
          .main-info .information-squares .second .contact,
          .main-info .information-squares .third .contact {
            font-size: 1.2rem; } }
    .main-info .information-squares .first {
      background-color: #36a8eb; }
      .main-info .information-squares .first .btn:hover {
        background-color: white;
        color: #36a8eb !important; }
    .main-info .information-squares .second {
      background-color: #088edd; }
    .main-info .information-squares .third {
      background-color: #1977cc; }

.about {
  padding-top: 600px;
  padding-bottom: 200px; }
  @media (max-width: 991px) {
    .about {
      padding-top: 1000px; } }
  @media (min-width: 992px) {
    .about .image-part {
      padding-right: 70px; } }
  @media (max-width: 991px) {
    .about .image-part {
      padding-bottom: 100px; } }
  .about .quote {
    color: #00a3c8;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    line-height: 1.4em;
    font-family: "Merriweather", Sans-serif; }
  .about .doctor-name {
    color: #333333;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.4em; }
    @media (max-width: 375px) {
      .about .doctor-name {
        font-size: 18px; } }
  .about .doctor-status {
    color: #696e7b;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.6em; }

p, a {
  text-decoration: none; }
  p:hover, a:hover {
    text-decoration: none; }
  p.blue-header, a.blue-header {
    color: #36a8eb;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.2em; }
    p.blue-header.smaller, a.blue-header.smaller {
      font-size: 18px;
      font-weight: 500; }
      p.blue-header.smaller.thinner, a.blue-header.smaller.thinner {
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 16px; }
  p.header, a.header {
    color: #333333;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.2em; }
    p.header.smaller, a.header.smaller {
      font-size: 25px;
      font-weight: 500; }
      p.header.smaller.thinner, a.header.smaller.thinner {
        font-weight: 400; }
    p.header.motivation, a.header.motivation {
      color: white;
      font-size: 30px; }
  p.text, a.text {
    color: #696e7b;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.6em; }
    p.text.thinner, a.text.thinner {
      font-weight: 300;
      letter-spacing: 1px;
      font-size: 16px; }
    p.text.motivation, a.text.motivation {
      color: white; }

.services,
.doctors {
  background-color: #f8f8f8;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 131px 0px 140px 0px; }
  .services .service-elements img,
  .doctors .service-elements img {
    background-color: #00a3c8; }
  .services .service-elements .card_:hover,
  .doctors .service-elements .card_:hover {
    box-shadow: 0px 16px 18px 0px rgba(51, 51, 51, 0.1); }

.btn.motivation {
  background-color: white;
  color: #00a3c8 !important; }
  .btn.motivation:hover {
    background-color: #00a3c8;
    color: white !important; }

.btn.btn-appointment {
  background-color: #00a3c8;
  color: white !important; }
  .btn.btn-appointment:hover {
    background-color: white;
    color: #00a3c8 !important; }

.motivation-block {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 37px 0px 45px 0px;
  background-color: #00a3c8; }

.about-additional .row {
  padding: 140px 0px 65px 0px; }

.about-additional ul {
  list-style: none; }
  .about-additional ul li i, .about-additional ul li path, .about-additional ul li svg {
    color: #00A3C8;
    left: -30px;
    top: 50%;
    transform: translateY(-50%); }

.appointment {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 131px 0px 140px 0px; }
  .appointment form .form-row > div {
    text-align: left !important; }
    .appointment form .form-row > div label {
      color: #696e7b;
      font-size: 20px;
      font-weight: 300;
      font-style: normal;
      line-height: 1.6em; }
    .appointment form .form-row > div input, .appointment form .form-row > div textarea {
      text-align: left !important; }

@media (max-width: 767px) {
  footer .col-12 > div {
    float: none !important;
    text-align: center;
    margin: auto; } }

.navbar-collapse.collapse.show a {
  text-align: left !important; }
