doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='shortcut icon', href='images/favicon.png', type='image/png')
    link(href='https://fonts.googleapis.com/css?family=Heebo:300,400,500,700&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/all.min.css')
    link(rel='stylesheet', href='css/style.css')
    title Michirev Praxisgemeinschaft
  body
    header
        .first-part.p-3.text-white.text-uppercase.d-none.d-md-block
            .container
                .row
                    .col-md-10
                        .d-inline.pr-4
                            i.fas.fa-phone-volume
                            a.text-decoration-none.text-white.pl-2(href='#') +49 471 92698454
                        .d-inline
                            i.fas.fa-map-marker-alt
                            a.text-decoration-none.text-white.pl-2(href='#') Hafenstraße 135, 27576 Bremerhaven
                    .col-md-2
                        .float-right
                            .d-inline.pr-3
                                a(href='#')
                                    img.img-fluid(width=25, src='images/germany.svg')
                            .d-inline
                                a(href='#')
                                    img.img-fluid(width=25, src='images/russia.svg')
        .second-part.p-3
            .container
                nav.navbar.navbar-expand-lg.navbar-light.bg-white
                    a.navbar-brand(href='#') Michirev
                    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarNavAltMarkup.collapse.navbar-collapse
                        .navbar-nav.ml-auto
                            a.nav-item.nav-link.pr-5(href='#') Home
                            a.nav-item.nav-link.pr-5(href='#') Ärzte
                            a.nav-item.nav-link.pr-5(href='#') Leistungen
                            a.nav-item.nav-link(href='#') Termine
    section.main-info.position-relative
        .container.welcome-text
            .row
                .col-12.col-lg-6
                    h1
                        | Herzlich
                        br
                        | willkommen!
                    p Hier muss ein Willkommenstext stehen
        .container.position-absolute.information-squares.text-white
            .row
                .col-12.col-lg-4.first
                    p.header.pb-2 Terminanfrage
                    p.pb-2 Vereinbaren Sie mit uns einen Termin blabla
                    a.btn.btn-link.border.border-white.rounded.text-white.text-decoration-none(href='#') Zur Terminanfrage
                .col-12.col-lg-4.second
                    p.header.pb-2 Öffnungszeiten
                    table.table.table-borderless.text-white
                        tbody
                            tr.border-bottom
                                td.p-0.pb-3 Mo, Di und Do
                                td.p-0.pb-3
                                    | 8:00-12:00
                                    br
                                    | 15:00-17:00
                            tr.border-bottom
                                td.p-0.pb-3.pt-3 Mi und Fr
                                td.p-0.pb-3.pt-3 8:00-12:00
                .col-12.col-lg-4.third
                    p.header.pb-2 Kontakt
                    .contact.d-flex.pb-3
                        i.fas.fa-phone-alt.mt-1
                        a.text-decoration-none.text-white.pl-2(href='#') +49 471 92698454
                    .contact.d-flex.pb-3
                        i.fas.fa-fax.mt-1
                        a.text-decoration-none.text-white.pl-2(href='#') +49 471 92698455
                    .contact.d-flex.pb-3
                        i.fas.fa-at.mt-1
                        a.text-decoration-none.text-white.pl-2(href='#') michirev@michirev.de
                    p
                        | Hafenstraße 135
                        br
                        | 27576 Bremerhaven
                        br
                        | Deutschland
    section.about
        .container
            .row
                .col-12.col-lg-7.image-part
                    img.img-fluid(src='images/about.png')
                .col-12.col-lg-5.align-self-center
                    p.blue-header.pb-2  Über uns
                    p.header.pb-2 Wir sind ein eingespieltes Team!
                    p.text.pb-2 Hier muss ein Text über unser eingespieltes Team stehen
                    p.quote.pb-2 “Cleveres Zitat von Arzt”
                    .d-inline
                        img.img-fluid.rounded-circle.float-left(src='images/quote.png')
                        p.float-left.pl-3 
                            span.d-block.doctor-name Doctor Evgenij Michirev
                            span.d-block.doctor-status Allgemeinmedizin
    section.services
        .container
            .row
                .col-12
                    p.blue-header.text-center.pb-2 Leistungen
                    p.header.text-center.pb-2 Wir bieten zahlreiche Leistungen
                    p.text.text-center.pb-5.w-75.m-auto Hier muss ein Text über unsere Leistungen stehen
            .row.service-elements
                .col-12.col-lg-3.text-center.mb-4
                    .card_.bg-white.p-4
                        img.img-fluid.rounded-circle.p-2(width=100, src='images/service.svg')
                        p.header.smaller.pt-4 Diagnostik
                        p.text.pb-4 Hier muss ein Text über Diagnostik oder eine andere Leistung stehen
                .col-12.col-lg-3.text-center.mb-4
                    .card_.bg-white.p-4
                        img.img-fluid.rounded-circle.p-2(width=100, src='images/service.svg')
                        p.header.smaller.pt-4 Diagnostik
                        p.text.pb-4 Hier muss ein Text über Diagnostik oder eine andere Leistung stehen
                .col-12.col-lg-3.text-center.mb-4
                    .card_.bg-white.p-4
                        img.img-fluid.rounded-circle.p-2(width=100, src='images/service.svg')
                        p.header.smaller.pt-4 Diagnostik
                        p.text.pb-4 Hier muss ein Text über Diagnostik oder eine andere Leistung stehen
                .col-12.col-lg-3.text-center.mb-4
                    .card_.bg-white.p-4
                        img.img-fluid.rounded-circle.p-2(width=100, src='images/service.svg')
                        p.header.smaller.pt-4 Diagnostik
                        p.text.pb-4 Hier muss ein Text über Diagnostik oder eine andere Leistung stehen
    section.motivation-block
        .container
            .row
                .col-12.col-lg-10.align-self-center
                    p.header.motivation.pt-2
                        | Hochqualifizierte Spezialisten stehen Ihnen jederzeit zur Verfügung!
                    p.text.motivation
                        | Vereinbaren Sie jetzt einen Termin und holen Sie sich die erfahrenste Hilfe direkt vor Ort!
                .col-12.col-lg-2.align-self-center.text-center
                    a.btn.btn-link.border.border-white.rounded.text-white.text-decoration-none.motivation.align-self-center(href='#') Terminanfrage
    section.about-additional
        .container
            .row
                .col-12.col-lg-5.align-self-center
                    p.blue-header.pb-2 Best Practices
                    p.header.pb-2 Praxis mit innovativer Behandlung!
                    p.text.pb-2 Die Management- und Entwicklungsteams von Michirev-Praxisgemeinschaft haben fast dreißig Jahre Erfahrung in der Entwicklung und Implementierung von Informations Managementtechnologien und Servicelösungen für die medizinische Industrie.
                .col-12.col-lg-7
                    img.img-fluid(src='images/about-more.png')
            .row
                .col-12.col-lg-7
                    img.img-fluid.mb-4(src='images/about-plus.png')
                .col-12.col-lg-5.align-self-center
                    p.blue-header.pb-2 Höchste Pflegequalität
                    p.header.pb-2 Lösungen für komplexe medizinische Probleme
                    p.text.pb-2 Medizinischer Generalismus wurde als eine professionelle praxisorientierte Lösung des Problems vorgeschlagen.
                    ul.pl-4
                        li.position-relative
                            i.fas.fa-check.position-absolute
                            p.text Eine der größten Herausforderungen im heutigen Gesundheitswesen sind die richtigen organisatorischen Voraussetzungen.
                        li.position-relative
                            i.fas.fa-check.position-absolute
                            p.text Manager im Gesundheitswesen wünschen sich, dass Ärzte einfach anders handeln.
    section.doctors
        .container
            .row
                .col-12
                    p.blue-header.text-center.pb-2 Qualifizierte Ärzte
                    p.header.text-center.pb-2 Unsere Fachärzte
                    p.text.text-center.pb-5.w-75.m-auto Eine medizinische Fachrichtung ist ein Zweig der medizinischen Praxis, der sich auf eine definierte Gruppe von Patienten, Krankheiten, Fähigkeiten oder Philosophie konzentriert.
            .row.doctors-elements
                .col-12.col-lg-6.text-center.mb-4
                    .card_.p-4
                        img.img-fluid.p-2(src='images/doctor-man.png')
                        p.header.smaller.thinner.pt-4 Evgenij Michirev
                        p.blue-header.smaller.pb-4 Allgemeinmedizin
                        p.text.pb-4 Verantwortlich für den Umgang mit chirurgischen Patienten und deren Schmerzlinderung während des Eingriffs.
                .col-12.col-lg-6.text-center.mb-4
                    .card_.p-4
                        img.img-fluid.p-2(src='images/doctor-woman.png')
                        p.header.smaller.thinner.pt-4 Svetlana Michirev
                        p.blue-header.smaller.pb-4 Allgemeinmedizin
                        p.text.pb-4 Untersuchen Sie die Patienten und beurteilen Sie den Zustand. Erläutern Sie die Risiken verbotener Aktivitäten.
    section.appointment
        .container
            .row
                .col-12
                    p.blue-header.pb-2.text-center Terminanfrage
                    p.header.pb-2.text-center Wir sind immer für Sie da!
                    form
                        .form-row
                            .col-12.col-md-6.mb-3
                                label(for='01') Vorname
                                input#01.form-control(type='text' required) 
                                // is-valid and not-valid for input
                                if false
                                    .invalid-feedback Falsche Daten!
                            .col-12.col-md-6.mb-3
                                label(for='02') Nachname
                                input#02.form-control(type='text', required)
                                if false
                                    .invalid-feedback Falsche Daten!
                        .form-row
                            .col-12.col-md-6.mb-3
                                label(for='01') Email
                                input#01.form-control(type='email' required) 
                                // is-valid and not-valid for input
                                if false
                                    .invalid-feedback Falsche Daten!
                            .col-12.col-md-6.mb-3
                                label(for='02') Telefonnummer
                                input#02.form-control(type='tel' required)
                                if false
                                    .invalid-feedback Falsche Daten!
                        .form-row
                            .col-12.col-md-6.mb-3
                                label(for='01') Datum und Zeit
                                input#01.form-control(type='datetime' required) 
                                // is-valid and not-valid for input
                                if false
                                    .invalid-feedback Falsche Daten!
                            .col-12.col-md-6.mb-3
                                label(for='exampleFormControlTextarea1') Eine kurze Beschreibung der Situation
                                textarea#exampleFormControlTextarea1.form-control(rows='3')
                                if false
                                    .invalid-feedback Falsche Daten!
                        .form-group
                            .form-check.pb-2
                                input#Check3.form-check-input.mr-2(type='checkbox' required)
                                label.form-check-label(for='Check3') Den Nutzungsbedingungen zustimmen
                                if false
                                    .invalid-feedback Falsche Daten!
                        button.btn.btn-appointment(type='submit') Einreichen
    section.map#map
    footer.pt-4.pb-4
        .container
            .row
                .col-12.col-md-6.align-self-center.mb-3
                    .float-left
                        a.text.thinner(href='#') Non commercial by Anton & Aleksei
                .col-12.col-md-6.align-self-center.mb-3
                    .float-right
                        .d-inline.pr-3
                            a(href='#')
                                img.img-fluid(width=25, src='images/germany.svg')
                        .d-inline.pr-3
                            a(href='#')
                                img.img-fluid(width=25, src='images/russia.svg')
                        .d-inline.pr-3
                            a.blue-header.smaller.thinner(href='#') Impressum
                        .d-inline
                            a.blue-header.smaller.thinner(href='#') Datenschutz
    script(type='text/javascript' charset='utf-8' async src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A015fe96fa0950ac3b41eeb61c20059efc1b3b30a03a21113db9eb9c803ce6e14&amp;width=100%25&amp;height=700&amp;lang=de_DE&amp;scroll=false&apikey=398d5382-7a8e-4128-8d6e-6be58e1c536c&id=map')
    script(src='js/jquery-3.4.1.slim.min.js')
    script(src='js/popper.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/all.min.js')
